.red{
    background-color: red;
    width: 80px;
    display: inline-block;
    height: 80px;

}
.black{
    background-color:black ;
    width: 80px;
    display: inline-block;
    height:80px;
}
.container{
    width: fit-content;
    margin: 0 auto;
    background-color: gray;
}