<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}" />
</head>
<body>
    <div class="container">
        <h1>Welcome to the Greate Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>
        <div class="high">
            <p>Too High!</p>
        </div>
        <form action="/submit" method="POST">
            {% csrf_token %}
            <input type="text" name="submitted_No" id="text">
            <input type="submit" value="Submit" id="button">
        </form>
    </div>
</body>
</html>