<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}" />
    <title>Greater number game</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between One and 100</p>
        <p>Take a guess!</p>
        <form action="/submit" method="POST">
            {% csrf_token %}
            <input type="text" name="submitted_No" id="text">
            <input type="submit" value="Submit" id="button">
        </form>
    </div>
</bdy>
</html>