.container{
    width: fit-content;
    margin: 50px auto;
    border: 3px solid gray;
    padding: 30px;
    border-radius: 5px;
    background-color: lightcyan;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
.forms{
    display: flex;
    width: 700px;
    justify-content: space-around;
} 
input{
    padding: 3px;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: block;
    width: 250px;
}
.message{
    font-size: 20px;
    color: red;
}
button{
    width: 100px;
    margin-top: 30px;
    box-shadow: 4px 4px 5px #888888;
    font-size: 16px;
}